FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
FoodDeliveryWholeProject/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.class
*.gif
*.png
*.jpg
