[project]
	description = A service that provides food delivery to an address
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SimeonMarkov (SimeonMarkov)
[access "refs/for/refs/*"]
	read = group user/SimeonMarkov (SimeonMarkov)
	push = group user/SimeonMarkov (SimeonMarkov)
	label-Code-Review = -2..+2 group user/SimeonMarkov (SimeonMarkov)
	label-Verified = -1..+1 group user/SimeonMarkov (SimeonMarkov)
	rebase = group user/SimeonMarkov (SimeonMarkov)
	removeReviewer = group user/SimeonMarkov (SimeonMarkov)
	submit = group user/SimeonMarkov (SimeonMarkov)
[access "refs/heads/*"]
	read = group user/SimeonMarkov (SimeonMarkov)
	create = group user/SimeonMarkov (SimeonMarkov)
	push = +force group user/SimeonMarkov (SimeonMarkov)
	pushMerge = group user/SimeonMarkov (SimeonMarkov)
[access "refs/tags/*"]
	push = group user/SimeonMarkov (SimeonMarkov)
	push = +force group user/SimeonMarkov (SimeonMarkov)
